<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    lang="en">

    <head th:include="layout :: htmlhead"></head>

    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <main class="container">
            <a th:href="@{/funcionario/novo}"
                class="btn btn-primary">Novo Funcionário</a>
            <table class="table" id="tabfuncionario">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Endereço</th>
                        <th>Estado</th>
                        <th>Telefone</th>
                        <th>E-mail</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="umFuncionario : ${listaFuncionarios}">
                        <td th:text="${umFuncionario.nome}"></td>
                        <td th:text="${umFuncionario.cpf}"></td>
                        <td th:text="${umFuncionario.endereco}"></td>
                        <td th:text="${umFuncionario.estado}"></td>
                        <td th:text="${umFuncionario.telefone}"></td>
                        <td th:text="${umFuncionario.email}"></td>
                        <td><a class="btn btn-secondary" th:href="@{'/funcionario/alterar/' + ${umFuncionario.id }}">Alterar</a>
                          <td><a class="btn btn-danger" th:href="@{'/funcionario/remover/' + ${umFuncionario.id }}">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>

        <div class="modal" tabindex="-1" id="modalfuncionario">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Excluir funcionario</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Confirma a exclusão do funcionario?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" id="btnnao" data-bs-dismiss="modal">Não</button>
                  <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                </div>
              </div>
            </div>
          </div>

        <div th:include="layout :: footer">(footer)</div>
        <script th:src="@{/script.js}"></script>
    </body>
</html>